

#map {
    height: 900px;
    width: 100%;
    top: 0;

}


body {

    margin: 0;
    padding: 0;
}

img {
    width: 25%;
}

#over_map
{
    position: absolute;
    top: 10px;
    left: 2%;
    z-index: 500;
    background-color: rgba(47, 39, 255, 0.33);
    padding: 20px;
    width: 20%;
}

#over_map img {
    width: 70%;
    padding: 1% 0 0 20%;
    margin: -10%;
    align-content: center;



}
#wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

#hakukentta::placeholder {
    color: white;
}


#hakukentta {

    background-color: navy;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%;
}
#nappi {

    background-color: navy;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: center;

}

li {
    font-family: 'Acme';
    font-size: 16px;

}

ul {
    list-style-type: none;
}



main {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    padding: 0;
}
footer {
    position: static;
    background-color: #333333;
    width: 100%;
    bottom: 0px;
    padding: 4px;
}
footer p {
    color: gray;
    padding-left: 2%;
}

.puu aside {
    width: 100%;
}

.pee aside {
    width: 80%;
}

aside {
    flex: 30%;
    padding: 20px;

}
aside a {
    text-decoration: none;
    color: black;
}
aside a:hover {
    color: #1abc9c;
}
section {
    flex: 70%;
    padding: 5px;
    background-color: #333;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
}


#koodi {
    height:500px;
    overflow-y: scroll;
}


aside ul {
    border: #1abc9c;
    border-left-width: 5px;
    border-left-style: solid;
}
@media screen and (max-width: 768px) {
    #over_map {
        width: 100%;
    }
    #over_map img {
        width: 40%;
    }

}
