
* {
    box-sizing: border-box;
}

#map {
    height: 600px;
    width: 100%;
    border-radius: 40px;
    border: 2px teal;
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

/* Header/logo Title */
header {
    text-align: center;
    background: #1ae2c1;
}

h1 {
    font-family: 'Gabriela';
    color: black;
}



/* Style the top navigation bar */
nav {
    display: flex;
    background-color: #333;
    justify-content: center;
    align-content: center;
    font-family: 'Lato', sans-serif;

}

img {
    width: 270px;
    height: 220px;
    display: inline-block;

}

li {
    font-family: 'Acme';
    font-size: 19px;
}

/* Style the navigation bar links */
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}
main {
    display: flex;
    flex-direction: row;
    margin: 0 0 5% 0;
}
/*footer {
    position: static;
    background-color: #333333;
    width: 100%;
    bottom: 0px;
    padding: 4px;
}
footer p {
    color: gray;
    padding-left: 2%;
}*/

aside {
    flex: 30%;
    padding: 20px;

}
aside a {
    text-decoration: none;
    color: black;
}
aside a:hover {
    color: #1abc9c;
}
section {
    flex: 70%;
    padding: 5px;
    background-color: #333;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
}


aside ul {
    border: #1abc9c;
    border-left-width: 5px;
    border-left-style: solid;
}
@media screen and (max-width: 768px) {
    aside, nav, main {
        flex-direction: column;
        flex-wrap: wrap;
    }

    section {
        flex: 100%;
    }
    article {
        width: 100%;
    }
    aside {
        order: 1;
    }
}
